/* Adjusting the logo size */
.logo {
    width: 3% !important; 
    height: auto !important;
}

.bg-secondary {
    background-color: white !important;  /* Set the background to white */
}

.nav-link {
    color: black !important;  /* Set text color to black */
}
